<header>
  <section class="header-container">
    <div class="header-logo">
      <img src="/images/pk-circle-75.png" class="img-responsive" alt="">
    </div>
    <div class="header-name">
      <div class="header-name-left">
        <h1><a class="site-title" href="{{ site.baseurl }}/">Peter Kaizer</a></h1>
        <h4>designer | developer</h4>
      </div>
      <div class="header-name-right">
        <a href="#menu" class="menu-link"><i class="fa fa-2x fa-bars" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="header-nav">
      <nav id="menu" role="navigation">
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/journal">Reading & Writing</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/photos">Photos</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="http://books.peterkaizer.com/">Recommended Books</a></li>
        </ul>
      </nav>
    </div>
  </section>
</header>
