
<div class="social visible-desktop clearfix">
<h2>Follow me</h2>
    <ul>
    	<li><a href="//www.linkedin.com/in/pdkaizer/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="//www.flickr.com/photos/pkaizer/"><i class="fa fa-flickr fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="//www.facebook.com/pkaizer"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="//plus.google.com/u/0/+PeterKaizer/posts"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="//twitter.com/pdkaizer"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="//medium.com/@pdkaizer"><i class="fa fa-medium fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="//www.instagram.com/pdkaizer"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></span></a></li>
        <li><a href="//github.com/pdkaizer"><span class="genericon genericon-github"></span></a></li>
        <li><a href="//www.linkedin.com/profile/view?id=3560982&trk=tab_pro"><span class="genericon genericon-linkedin"></span></a></li>
        <li><a href="//dribbble.com/pdkaizer"><i class="fa fa-dribbble fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="//pinterest.com/pdkaizer/"><i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="//www.youtube.com/user/pdkaizer"><span class="genericon genericon-youtube"></span></a></li>
        <li><a href="/feed.xml"><i class="fa fa-rss-square fa-2x" aria-hidden="true"></i></a></li>
    </ul>

    <p>None of the views expressed on this site or any of my personal social networks reflect the opinion of my employers or any of my freelance clients. They are my opinions alone.</p>

    <a class="twitter-timeline" href="https://twitter.com/pdkaizer" data-widget-id="432615202110988288">Tweets by @pdkaizer</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>

