---
layout: default
---

<div class="portfolio-area">
	<div class="portfolio">

		<h1>{{ page.title }}</h1>

		{{ content }}


		{% for portfolio-item in page.portfolio-items %}
		<div class="portfolio-section clearfix">
			<section class="portfolio-image">
				<img src="/images/portfolio/{{portfolio-item.image}}" alt="" class="img-responsive" />
			</section>

			<section class="portfolio-text">
				<h2>{{portfolio-item.title}}</h2>
				{{portfolio-item.text}}

				<p><strong>Type:</strong> {{portfolio-item.filter}}</p>
				<p><strong>Skills:</strong> {{portfolio-item.skills}}</p>
				<p><strong>Role:</strong> {{portfolio-item.role}}</p>
				<p><strong>Visit site:</strong> <a href="{{portfolio-item.url}}">{{portfolio-item.url}}</a></p>
			</section>
		</div>
		{% endfor %}

	</div>
</div>
