.photos {
	background-color: $white;
}

.photo-page-area {
	@include container;
	margin-top: 1.5em;
    margin-bottom: 2.5em;
    color: $white;
    	@include breakpoint($mobile) {
      	margin-top: 0;
      	margin-bottom: 1em;
    }

    img {
    	border: solid 8px $medium-gray;
    }
}

.photos-landing {
  @include push(1);
  @include span(11 of 12 last);
}

.photos-grid li {
  width:350px;
  display: inline-block;
  margin-right: 15px;
}

.photos-grid a {
  color: $medium-gray;
}

/* General photoset style */
 .photoset {
    overflow: hidden;
    width: 100%;
}
.photoset .photoset-row {
    margin-bottom: .5rem;
    overflow: hidden;
  width: 150%;
}
    .photoset .photoset-row:last-child { margin: 0; }
.photoset .photoset-item {
    display: block;
    float: left;
    margin: 0 .25rem;
}
    .photoset .photoset-item:first-child { margin-left: 0; }
    .photoset .photoset-item:last-child  { margin-right: 0; }
.photoset figure {
    margin: 0;
    overflow: hidden;
    position: relative;
}
.photoset figcaption {
    background-color: $medium-gray;
    box-sizing: border-box;
    font-size: .75rem;
    padding: .5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: all .5s ease-in-out;
}
.photoset-item a {
  background-position: center center;
  background-size: cover;
  border: 0;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.photoset .photoset-item:hover a + figcaption {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.photoset img {
    display: block;
    border: solid 8px $medium-gray;
    max-width: 100%;
    transition: all .25s ease-in-out;
}

@media screen
and (min-width: 480px)
and (max-width: 768px) {
  .photoset figcaption {
    display: none;
  }
}

@media screen
and (max-width: 480px) {
  .photoset .photoset-row {
    width: 100%;
  }
  .photoset .photoset-item {
    float: none;
    margin: 0 0 .75em 0;
  }
  .photoset figcaption {
    display: block;
    -webkit-transform: none;
    transform: none;
    position: relative;
  }
  .photoset img {
    max-width: 100%;
  }
}

