---
layout: default
title: Reading & Writing
---

{% include header-image.html %}

<div class="page-area">
    <section class="left-side">
        {% include social.html %}
    </section>

    <section class="article-area">
        <article itemscope itemtype="http://schema.org/BlogPosting">
            <h1>Reading & Writing</h1>
              {% for post in site.posts %}
                {% if post.type == 'link' %}
                <div class="home-post">
                  <h2><a href="{{ post.link }}">{{ post.title }}&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></h2>
                  <span class="visible-phone mobile-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%b %e, %Y" }}</span>
                  <blockquote class="external">{{ post.summary }}<br>
                  <a href="{{ post.url }}">(Permalink)</a>
                  </blockquote>
                </div>
                <div class="home-post-date visible-desktop">
                  <i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%b %e, %Y" }}
                </div>
                {% else %}
                <div class="home-post">
                  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                  <span class="visible-phone mobile-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%b %e, %Y" }}</span>
                  <p>{{ post.summary }}</p>
                </div>
                <div class="home-post-date visible-desktop">
                  <i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%b %e, %Y" }}
                </div>
                {% endif %}
              {% endfor %}
        </article>
    </section>
</div>






