
// Susy grid settings and breakpoints
$susy: (
  columns: 12,
  container: 1170px,
  gutters: 0.30,
  global-box-sizing: border-box,
  );

$desktop: 1170px 3000px;
$tablet: 650px 1170px;
$mobile: 280px 650px;

