header {
	background-color: $white;
	color: $dark-gray;
	padding-top: 5px;
	padding-bottom: 0;
}

.header-container {
	@include container;
}

.header-logo {
	@include span(1);
		@include breakpoint($mobile) {
			@include span(2);
			padding-left: 5px;
		}
		@include breakpoint($tablet) {
			@include span(2);
		}
}

.header-name {
	@include span(3);
	margin-top: 1em;
		h1 {
			font-family: $base-font-family;
			font-size: 2em;
			font-weight: 300;
			padding-top: 0;
			padding-bottom: 0;
			line-height: 0;
		}

		h4 {
			font-family: $base-font-family;
			font-size: 1em;
			font-weight: 300;
			padding-top: 3px;
			padding-bottom: 0;
			line-height: 0;
			letter-spacing: .16em;
		}
		@include breakpoint($mobile) {
			@include span(10 last);
			margin-top: .8em;
			padding-left: 10px;
				h1 {
					font-size: 1.2em;
					font-weight: 300;
					padding-top: 0;
					padding-bottom: 0;
					line-height: 0;
				}

				h4 {
					font-weight: 300;
					padding-top: 3px;
					padding-bottom: 0;
					line-height: 0;
					letter-spacing: 0;
				}
		}
}

.header-name a {
	color: $dark-gray;
}

.header-name-left {
	@include breakpoint($mobile) {
		@include span(9);
	}
}

.header-name-right {
	@include breakpoint($mobile) {
		@include span(3 last);
	}
}

.header-nav {
	@include span(8 last);
	margin-top: .5em;
		@include breakpoint($mobile) {
			@include span(12 last);
			margin-top: .25em;
			padding-left: .5em;
			padding-right: .5em;
		}
}

.header-nav ul {
	margin: 0;
	padding: 0;
}

.header-nav li {
	display: inline-block;
	margin-right: 0px;
	font-family: $heading-font-family;
	font-weight: 300;
	font-size: 17px;
		@include breakpoint($mobile) {
			margin-right: 1em;
			font-size: 14px;
		}
}

.header-nav a {
	color: $dark-gray;
}
