---
layout: default
header-image: brooklyn-b-w-2018-03.jpg
---
{% include header-image.html %}

{% include home-header-image-down.html %}

<div class="page-area">

  <article class="home-main">
    <h1>Hi there, I am Peter Kaizer</h1>

    <p>I am a user experience designer and developer with a passion for user focused digital products that are highly functional and beautifully designed.</p>

    <p>Currently I am working as a Lead Technologist/UXUI Designer for <a href="http://www.boozallen.com/">Booz | Allen | Hamilton</a>.</p>

    <p>This is my personal web space, where I post about technology, design and food, along with other things that catch my eye.  You can read more <a href="/about">about me</a> or <a href="/contact">contact me</a>.</p>

    <p>Also check out my <a href="http://books.peterkaizer.com/">recommended books site</a>.</p>

    {% include social.html %}
  </article>

  <section class ="home-article-listing" id="follow">

    <h1>Reading & Writing</h1>

      {% for post in paginator.posts %}
        {% if post.type == 'link' %}
        <div class="home-post">
          <h2><a href="{{ post.link }}">{{ post.title }}&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></h2>
          <span class="visible-phone mobile-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%b %e, %Y" }}</span>
          <blockquote class="external">{{ post.summary }}<br>
          <a href="{{ post.url }}">(Permalink)</a>
          </blockquote>
        </div>
        <div class="home-post-date visible-desktop">
          <i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%b %e, %Y" }}
        </div>
        {% else %}
        <div class="home-post">
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <span class="visible-phone mobile-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%b %e, %Y" }}</span>
          <p>{{ post.summary }}</p>
        </div>
        <div class="home-post-date visible-desktop">
          <i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%b %e, %Y" }}
        </div>
        {% endif %}
      {% endfor %}

      <div class="home-see-all"><h3><a href="/journal">See all posts <i class="fa fa-arrow-right fa=2x" aria-hidden="true"></i></a></h3></div>

  </section>

</div>